/* styles.css */
@keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }
  
  .ripple-container {
    position: relative;
    display: inline-block;
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(15deg); /* Lắc 10 độ theo chiều kim đồng hồ */
    }
    20% {
      transform: rotate(0deg); /* Quay lại vị trí ban đầu */
    }
    30% {
      transform: rotate(15deg); /* Lắc lần nữa 10 độ theo chiều kim đồng hồ */
    }
    40% {
        transform: rotate(0deg); /* Quay lại vị trí ban đầu */
      }
    50% {
        transform: rotate(15deg); /* Lắc lần nữa 10 độ theo chiều kim đồng hồ */
      }
    60% {
      transform: rotate(0deg); /* Quay lại vị trí ban đầu */
    }
    100% {
        transform: rotate(0deg); /* Quay lại vị trí ban đầu */
      }
  }
  .ripple {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    animation: ripple 1.5s ease-out infinite;
  }
  
  .ripple:nth-child(1) {
    animation-delay: 0s;
  }
  
  .ripple:nth-child(2) {
    animation-delay: 0.5s;
  }
  .avatar {
    position: relative;
    z-index: 2; 
  }
  .shake {
    animation: shake 1.5s ease-in-out infinite;
  }